.coin-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background-color: #fb9f32;
  color: white;
  /* border: 5px solid #f9e9de; */
  border-radius: 25%/50%;
  margin: 0.3rem;
}
