@import url("https://github.com/CrowdedAstronaut/daily-hud/blob/main/src/assets/fonts/Gilroy-SemiBold.woff");
@import url("https://github.com/CrowdedAstronaut/daily-hud/blob/main/src/assets/fonts/Gilroy-Regular.woff");
@import url("https://github.com/CrowdedAstronaut/daily-hud/blob/main/src/assets/fonts/Gilroy-Medium.woff");

.coin-search-container {
  /* grid-column: 1; */
  /* display: grid; */
  /* margin-bottom: 10px; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 20.94rem;
  /* margin: 0.3rem; */
  position: relative;
  top: 20.31rem;
  height: 15.06rem;
  /* margin: 0.3rem; */

  /* opacity: 0.9; */
}

.coin-search-container h2 {
  font-size: 1rem;
  margin: 0rem;
  font-family: "Gilroy-Semi-Bold";
  /* background-color: rgb(6, 97, 170); */
  color: white;
}
.coin-search-container p {
  font-size: 0.75rem;
  margin: 0rem;
  font-family: "Gilroy-Regular";
  color: white;
}

.coins-container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  border-radius: 0.31rem;
  grid-template-rows: 1fr 1fr 1fr;
  color: white;
  /* border: 1px solid white; */
}

.bitcoin-container {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 4.188rem;
  background-color: #171717;
  margin-bottom: 0.5rem;
  font-family: "Gilroy-Medium";
  font-size: 0.875rem;
}

.bitcoin-icon-container,
.ethereum-icon-container,
.cardano-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ethereum-container {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 4.188rem;
  background-color: #171717;
  margin-bottom: 0.5rem;
  font-family: "Gilroy-Medium";
  font-size: 0.875rem;
}

.cardano-container {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 4.188rem;
  background-color: #171717;
  margin-bottom: 0.5rem;
  font-family: "Gilroy-Medium";
  font-size: 0.875rem;
}

.bitcoin-icon-container,
.ethereum-icon-container,
.cardano-icon-container,
.bitcoin-mobile-chart,
.ethereum-mobile-chart,
.cardano-mobile-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bitcoin-price-info,
.ethereum-price-info,
.cardano-price-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bitcoin-mobile-chart {
  grid-column: 2;
}

/* .bitcoin_mobile_chart {
  width: 6rem;
}
.bitcoin_mobile_chart {
  width: 6rem;
} */

/* .coin_price_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
