.weather-container h2 {
  font-size: 1rem;
  margin: 0rem;
}
h3 {
  margin: 0rem;
  font-size: 1rem;
}
p {
  margin: 0rem;
  font-size: 1rem;
}

.sun-icon img {
  width: 1rem;
  /* color: white; */
}
