@import url("https://github.com/CrowdedAstronaut/daily-hud/blob/main/src/assets/fonts/Gilroy-SemiBold.woff");
@import url("https://github.com/CrowdedAstronaut/daily-hud/blob/main/src/assets/fonts/Gilroy-Regular.woff");

.weather-container {
  position: absolute;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  border-radius: 0.31rem;
  top: 10.31rem;
  height: 8.75rem;
  width: 20.94rem;

  color: white;
}

.weather-header {
  grid-column: 1;
}

.weather-form {
  grid-column: 2;
}

.weather-container h2 {
  font-size: 1rem;
  margin: 0rem;
  color: white;
}
.weather-container p {
  font-size: 0.75rem;
  margin: 0rem;
  font-family: "Gilroy-Regular";
  color: white;
}

.weather-search-results {
  background-color: #171717;
  /* background-color: orange; */
  grid-row: 2;
  grid-column-start: -3;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid white;
}
