/* @font-face {
  font-family: Gilroy-Bold;
  src: url(../../assets/fonts/Gilroy-Bold.woff);
} */
.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.header {
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #171717;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
  padding: 8% 4% 4% 4%;
  /* border: 1px solid white; */
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.welcome-message {
  font-weight: 400;
}
