@font-face {
  font-family: Gilroy-Bold;
  src: url(../../assets/fonts/Gilroy-Bold.woff);
}

.header {
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  left: 1.25rem;
  top: 2.81rem;
  background-color: #171717;
  font-family: Gilroy-Bold;
  color: white;
  border: 1px solid white;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}
