* {
  box-sizing: border-box;
  /* border: 1px solid white; */
}

#root {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.App {
  /* position: relative; */
  text-align: center;
  display: grid;
  grid-template-columns: minmax(375px, 1fr);
  background-color: #000000;
  /* font-family: Gilroy-Bold; */
  color: white;
  /* flex-basis: 100%; */
  /* align-items: center; */
}

@media only screen and (min-width: 900px) {
  .App {
    width: 100%;
    grid-template-columns: minmax(800px 2fr);
  }
}
