* {
  box-sizing: border-box;
  /* border: 1px solid white; */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  /* font-family: Gilroy-Bold; */
  color: white;
  width: 23.44rem;
  height: 50.75rem;
  align-items: center;
}
